<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Reed Taylor</string>
	<key>Builder Version</key>
	<string>11601.7.7</string>
	<key>CFBundleDisplayName</key>
	<string>GradeMyGold</string>
	<key>CFBundleIdentifier</key>
	<string>com.reedtaylor.grademygold</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>main.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>main.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>sheet.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://my.sa.ucsb.edu/gold/StudentGrades.aspx</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Safari port of GradeMyGold</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/reedptaylor</string>
</dict>
</plist>
